table {
  border-collapse: collapse;
  width: 50%;
  margin-top: 3vw;
}

th,
td {
  text-align: left;
  padding: 2px;
}

@media only screen and (max-width: 480px) {
  table {
    width: 73vw;
    margin-left: -15vw;
  }

  .reservePt {
    margin-left: -15vw !important;
  }

  .tableInstructor {
    width: 155% !important;
  }
}
